/**
 * custom theme 2018-02-05 15:41:08 */

#newsletter_pop_up{
width: 870px;height: 485px;background-image: url(http://127.0.0.1/MGT/eren/pub/media/rokanthemes/newsletter/background/default/bkg_newletter_popup.jpg);background-repeat: no-repeat;
background-position: 95% center;
background-position: left top;}
