<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="page_block_html_topmenu_gethtml_before">
        <observer name="eren_add_custom_link_before" instance="Eren\CustomMenu\Observer\AddCustomLinkBefore" />
    </event>
</config>
